
# Data management

## Introduction to pandas

## [Malka Guillot](https://malkaguillot.github.io/)

## HEC Li√®ge | [ECON2306]()

[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/malkaguillot/ECON2206-Data-Management-2023/HEAD?labpath=%2Fpractice%2F1.2-Introduction%2520to%2520pandas.ipynb)

`pandas` is a Python library used for working with data sets. It has functions for analyzing, cleaning, exploring, and manipulating data. The package, built over concepts coming from `numpy`, is one of the central brick of the data-science python ecosystem. 

*This notebook* aims to introduce you to the basic concepts and operations that can be done with `pandas`.

In [1]:
import pandas as pd

### References
-   The [official help page](https://pandas.pydata.org/docs/user_guide/index.html).
    Including the
    [language comparison page](https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/index.html)
    that is very useful
-   The *corresponding cheatsheet*, from [this post](https://becominghuman.ai/cheat-sheets-for-ai-neural-networks-machine-learning-deep-learning-big-data-678c51b4b463)

![Cheasheet pandas](https://cdn-images-1.medium.com/max/2000/1*YhTbz8b8Svi22wNVvqzneg.jpeg)

## `pandas`' logic

The primary two components of pandas are the `Series` and `DataFrame`.

### DataFrame & Series
The `DataFrame` is a data object, structured around rows & columns (that can be of different types, eg. string or float).

A `DataFrame` consists of the following elements:
- the row index ;
- the name of the column ;
- the value of the data;

Cf. [this post](https://medium.com/epfl-extension-school/selecting-data-from-a-pandas-dataframe-53917dc39953) on the structure of a `DataFrame`.

![](images/pd-structure.png)

A `DataFrame` is a collection of `pandas.Series`. These `Series` are one-dimensional objects, coming from one-dimensional `numpy` arrays.

### Series

A `Series` can be of different type. The `object`'s type corresponds to the usual python's types (`str`, `int`, `float`, `bool`, `list`).

In [ ]:
series = pd.Series([30, 35, 40])
print(series)

To transform a `pandas.Series` object in a `numpy` array, we use the `values` method. By example: `series.values`:

In [ ]:
series.values

In [ ]:
series.index

### Index (Row labels)
The essential difference between a `Series` and a `numpy` array is the index (which is implicit in `numpy`). In a `Series` or a `DataFrame`, we can give explicit names to the indices. 

By example:

In [ ]:
# For a Series:
size = pd.Series(
    [1.,1.5,1],
    index = ['cat', 'dog', 'koala'], 
    name='Size of animal'
)

size.head()

In [ ]:
# The index enables accessing the value of the `Series`
size['koala']

### `Dataframe`

In [ ]:
dictionary= {'Yes': [50, 21], 'No': [131, 2]} 
dictionary.keys()

In [ ]:
data = pd.DataFrame(dictionary)

In [ ]:
data.head() # visualizing the DataFrame

In [ ]:
# dataframe with no index
data = pd.DataFrame({'Mike': ['Bald', 'Tall'], 'Anna': ['', 'Short']})
data.head()

In [ ]:
# Index for a DataFrame:
data = pd.DataFrame({'Mike': ['Bald', 'Tall'], 'Anna': ['', 'Short']},
                    index=['Hair', 'Size'])
data.head()

### Your Turn !

#### Exercise 1

In the cell below, create a DataFrame `fruits` that looks like this:

![](https://i.imgur.com/Ax3pp2A.png)

#### Exercise 2

Create a dataframe `fruit_sales` that matches the diagram below:

![](https://i.imgur.com/CHPn7ZF.png)

In [ ]:
dic_fruits_by_sale= {}
dic_fruits_by_sale['Apples']=[35, 41]
dic_fruits_by_sale['Bananas']=[21, 34]
dic_fruits_by_sale

In [ ]:
fruit_sales=pd.DataFrame(dic_fruits_by_sale, index=['2017 Sales', '2018 Sales'])

In [ ]:
fruit_sales.head()

#### Exercise 3

Create a variable `ingredients` with a Series that looks like:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

## Useful methods & attributes

### Reading data files

If the data is in your folder, you can directly read it like this:

`wine_reviews = pd.read_csv("winemag-data-130k-v2.csv")`

In [3]:
import pandas as pd
# Using the dropbox link, you can directly download the data from my remote dropbox
wine_reviews = pd.read_csv("https://dox.uliege.be/index.php/s/Zbpu1hqt1OdI9by/download")

In [ ]:
wine_reviews.shape

In [ ]:
wine_reviews.columns

In [ ]:
wine_reviews.head()

In [ ]:
wine_cyprus = wine_reviews[wine_reviews['country']=="Cyprus" ]

In [ ]:
# wine_reviews[(wine_reviews['country']=="Cyprus") | (wine_reviews['country']=="Italy")  ]

#### Display method (vs. `print`)
-   `head`: show the first rows (5 by default) ;
-   `tail`: show the last rows (5 by default)
-   `sample` show a random sample of  *n* rows.

$\Rightarrow$ better to use `head` or `tail` (nicely formatted) than `print` (raw output).

In [ ]:
wine_reviews.head()

#### `read_csv()` with an index
Look at the change when `index_col=1` is included.

In [ ]:
wine_reviews = pd.read_csv("https://dox.uliege.be/index.php/s/Zbpu1hqt1OdI9by/download", index_col=0)
wine_reviews.head()

### `DataFrame`: Dimensions and strucuture

We can access the attributes of the `DataFrame` with the following methods:

In [ ]:
wine_reviews.axes

In [ ]:
wine_reviews.columns

In [ ]:
wine_reviews.index

In [ ]:
# Dimension of the DataFrame
wine_reviews.ndim

In [ ]:
wine_reviews.shape #(number of rows, number of columns)

In [ ]:
wine_reviews.size # = number of rows x number of columns

In [ ]:
# Number of unique values of a variable:
wine_reviews['taster_name'].nunique()

#### Native Accessors

In [ ]:
wine_reviews.country.head()

In [ ]:
wine_reviews['country'].head()

In [ ]:
wine_reviews['country'][0]

### Aggregated statistics
`pandas` offers a series of methods for making aggregate statistics in an efficient way.

For example, one can apply methods to count the number of rows, averaging or summing all the rows

In [ ]:
wine_reviews.count() # number of rows with non-missing values

In [ ]:
wine_reviews['points'].median()

In [ ]:
wine_reviews['points'].mean() # average for the columns in numeric format

In [ ]:
wine_reviews['points'].sum() # sum of all observations for the columns in numeric format

#### Summary functions

In [ ]:
wine_reviews['taster_name'].describe()

In [ ]:
wine_reviews['taster_name'].value_counts()

#### Handling missing values

In [ ]:
wine_reviews.isna().shape

In [ ]:
wine_reviews.isna().sum() # count the number of missing values for each column

### Accessing elements of a `DataFrame`

#### Accessing columns:
Several approaches:

-   `dataframe.variable`, by example `wine_review.variety`.
    However, this method requires that you have column names without spaces.
-   `dataframe[['variable']]` to return the variable as a `DataFrame` or `dataframe['variable']` to return the variable as a  `Series`. 
    This is the prefered method. 
    
### Accessing rows

Several approaches, depending on the indices in place:

-   `df.loc`: using indices' labels
    - `loc` refers to the values of a `DataFrame`'s index.

-   `df.iloc`: using raw indices (row number)
    - `iloc` refers to the row number between $0$ to $N$ (where $N=$ `df.shape[0]` of a`pandas.DataFrame`).

In [ ]:
#wine_reviews.country
variable_list=['country', 'points']
wine_reviews['country']
wine_reviews[variable_list[0]] # series

In [ ]:
wine_reviews[variable_list]

wine_reviews[['country', 'points']] # DF

In [ ]:
# Index for a DataFrame:
data = pd.DataFrame({'Mike': ['Bald', 'Tall'], 'Anna': ['', 'Short']},
                    index=['Hair', 'Size'])
data.head()

In [ ]:
data.loc['Size','Anna']

In [ ]:
data.iloc[0, ]

#### Example
With the following `pandas.DataFrame` `df`:

           year  sale
    month
    1      2012    55
    4      2014    40
    7      2013    84
    10     2014    31

Then `df.loc[1, :]` gives the first row of `df` (row where the `month` index is equal to 1).

While  `df.iloc[1, :]` gives the second row (since the index starts at $0$ in `Python`).

#### Indexing in pandas - Index-based selection `iloc`

In [ ]:
wine_reviews.iloc[0] # first row

In [ ]:
wine_reviews.iloc[:, 0] # First column

In [ ]:
wine_reviews.iloc[:3, 0] # First 3 rows of the first column

In [ ]:
wine_reviews.iloc[[0, 1, 2], 0] # Rows 0, 1 & 2 of the first column

In [ ]:
wine_reviews.iloc[-5:] # last five rows!

### Indexing in pandas - Label-based selection `loc`

In [ ]:
wine_reviews.loc[0, 'country']

In [ ]:
wine_reviews[['taster_name', 'taster_twitter_handle', 'points']].head(2)

In [ ]:
wine_reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']].head(2)

## Main data manipulation operations

The following table summarizes the main operations, comparing the syntax in `SQL`, `pandas` and `R`.
Knowing the `SQL` syntax/label of the method is most useful as it is at the source of what has been created in the other languages. 

| Op√©ration                                                        | SQL                                                              | pandas                                                 | dplyr (`R`)                                        | data.table (`R`)                                 |
|--------|---------------|-----------|-----------------|-----------------------|
| Selecting variables by their name                          | `SELECT`                                                         | `df[['Autres transports','Energie']]`                  | `df %>% select(Autres transports, Energie)`        | `df[, c('Autres transports','Energie')]`         |
| Selecting observation depending on condition(s) | `FILTER`                                                         | `df[df['Agriculture']>2000]`                           | `df %>% filter(Agriculture>2000)`                  | `df[Agriculture>2000]`                           |
| Sort the table by a variable                  | `SORT BY`                                                        | `df.sort_values(['Commune','Agriculture'])`            | `df %>% arrange(Commune, Agriculture)`             | `df[order(Commune, Agriculture)]`                |
| Add a variable that is a function of other variable(s)     | `SELECT *, LOG(Agriculture) AS x FROM df`                        | `df['x'] = np.log(df['Agriculture'])`                  | `df %>% mutate(x = log(Agriculture))`              | `df[,x := log(Agriculture)]`                     |
| Group-level operations                               | `GROUP BY`                                                       | `df.groupby('Commune').mean()`                         | `df %>% group_by(Commune) %>% summarise(m = mean)` | `df[,mean(Commune), by = Commune]`               |
| Merge of databases (*inner join*)                     | `SELECT * FROM table1 INNER JOIN table2 ON table1.id = table2.x` | `table1.merge(table2, left_on = 'id', right_on = 'x')` | `table1 %>% inner_join(table2, by = c('id'='x'))`  | `merge(table1, table2, by.x = 'id', by.y = 'x')` |

### Conditional Selection

In [ ]:
wine_reviews.shape

In [ ]:
wine_reviews.country == 'Italy'

In [ ]:
italy= wine_reviews.loc[wine_reviews.country == 'Italy']
italy.shape

In [ ]:
wine_reviews.loc[(wine_reviews.country == 'Italy') & (wine_reviews.points >= 90)]

In [ ]:
wine_reviews.loc[(wine_reviews.country == 'Italy') | (wine_reviews.country == 'France')]

In [ ]:
wine_reviews.loc[(wine_reviews.country == 'Italy') | (wine_reviews.points >= 90)]

In [ ]:
# Selects wines from Italy and France
wine_reviews.loc[wine_reviews.country.isin(['Italy', 'France'])]

In [ ]:
# Selects wines for which price is not missing
wine_reviews.loc[wine_reviews.price.notna()] # The opposite of "nota" is "isna"

### Your turn !

#### Exercice 4

Select the `description` column from `wine_reviews` and assign the result to the variable `desc`.

What type of object is `desc` ?

In [ ]:
desc = wine_reviews['description']

In [ ]:
type(desc)

#### Exercise 5

Select the first value from the description column of `reviews`, assigning it to variable `first_description`.

In [ ]:
first_description = wine_reviews.loc[0, 'description']
first_description

#### Exercise 6 

Select the first row of data (the first record) from `reviews`, assigning it to the variable `first_row`.

#### Exercise 7

Select the first 10 values from the `description` column in `reviews`, assigning the result to variable `first_descriptions`.

Hint: format your output as a pandas Series.

#### Exercise 8

Select the records with index labels `1`, `2`, `3`, `5`, and `8`, assigning the result to the variable `sample_reviews`.

In other words, generate the following DataFrame:

![](https://i.imgur.com/sHZvI1O.png)

#### Exercise 9

Create a variable `df` containing the `country`, `province`, `region_1`, and `region_2` columns of the records with the index labels `0`, `1`, `10`, and `100`. In other words, generate the following DataFrame:

![](https://i.imgur.com/FUCGiKP.png)

In [ ]:
columns=['country', 'province', 'region_1', 'region_2']
wine_reviews[columns].head()

In [ ]:
indices=[0, 1, 10, 100]
df=wine_reviews.loc[indices, columns]

df

#### Exercise 10

Create a variable `df` containing the `country` and `variety` columns of the first 100 records.

#### Exercise 11

Create a DataFrame `italian_wines` containing reviews of wines made in `Italy`.

#### Exercise 12

Create a DataFrame `top_oceania_wines` containing all reviews with at least 95 points (out of 100) for wines from Australia or New Zealand.

### Assigning data

In [ ]:
# True if the point of the wine is larger than the average number of points in the data
wine_reviews['points_larger_average'] = (wine_reviews['points'] > wine_reviews['points'].mean())
wine_reviews['points_larger_average'].value_counts()

In [ ]:
wine_reviews['critic'] = 'everyone'
wine_reviews['critic'].head()

In [ ]:
wine_reviews['index_backwards'] = range(len(wine_reviews), 0, -1)
wine_reviews['index_backwards'].head()

### Your Turn !

#### Exercise 13

What is the median of the `points` column in the `reviews` DataFrame?

#### Exercise 14

What countries are represented in the dataset? (Your answer should not include any duplicates.)

#### Exercise 15

How often does each country appear in the dataset? Create a Series `reviews_per_country` mapping countries to the count of reviews of wines from that country.

### Applying functions

`pandas` is a very flexible package, with a `wide variety of optimised methods. However, it is common to to need unimplemented methods.

#### 2 main methods: `apply`vs. `map`
- `map` 
    - operates on each element of a Series
    - returns a Series
    - map is map is optimised for elementwise mappings and transformation
        - e.g., `df['A'].map({1:'a', 2:'b', 3:'c'})`

- `apply`
    - operates on entire rows or columns at a time
    - returns a Dataframe

#### `lambda` functions  
In this case, `lambda` functions are often used. For example, if you want create a variable that does some complicated computation:

In [ ]:
def token_eg(x):
    return x-1

In [ ]:
wine_reviews['points_1'] = wine_reviews['points'].map(token_eg)
wine_reviews[['points', 'points_1']].head()

In [ ]:
# equivalent to above
def token_eg2(x, y):
    return x-1-y

wine_reviews['points_1'] = wine_reviews['points'].map(lambda a: token_eg2(x=a,y=2))
wine_reviews[['points', 'points_1']].head()

In [ ]:
review_points_mean = wine_reviews['points'].mean()
points_remean = wine_reviews['points'].map(lambda p: p - review_points_mean)
points_remean

Or if you want to select the observations with a country whose name is longer than 10 characters:

In [ ]:
wine_reviews['country'].apply(lambda s: len(str(s))>10)

In [ ]:
wine_reviews[wine_reviews['country'].apply(lambda s: len(str(s))>10)].head()

In [ ]:
# Applying directly a home-made function

review_points_mean = wine_reviews.points.mean()

def remean_points(row):
    row.points = row.points - review_points_mean
    return row

wine_reviews.apply(remean_points, axis='columns')

If we had called `wine_reviews.apply()` with `axis='index'`, then instead of passing afunction to transform each row, we would need to give a function to transform each column.

Note that `map()` and `apply()` return new, transformed `Series` and `DataFrames`, respectively. They don‚Äôt modify the original data they‚Äôre called on.

In [ ]:
review_points_mean = wine_reviews.points.mean()
points_remean = wine_reviews.points - review_points_mean
print(points_remean)

print(wine_reviews.country + " - " + wine_reviews.region_1)

### Your Turn !

#### Exercise 16

Create variable `centered_price` containing a version of the `price` column with the mean price subtracted.

#### Exercise 17 

I'm an economical wine buyer. Which wine is the "best bargain"? Create a variable `bargain_wine` with the title of the wine with the highest points-to-price ratio in the dataset.

#### Exercise 18

There are only so many words you can use when describing a bottle of wine. Is a wine more likely to be "tropical" or "fruity"? Create a Series `descriptor_counts` counting how many times each of these two words appears in the `description` column in the dataset.

Steps: 
1. Create 2 columns containing the boolean information on whether tropical (fruity) is contained in the description
2. Sum over the values

In [ ]:
s = wine_reviews.loc[1, 'description']

"tropical" in str(s)

In [ ]:
wine_reviews['is_trop'] = wine_reviews['description'].apply(lambda s: "ropical" in str(s))
wine_reviews['is_frui'] = wine_reviews['description'].apply(lambda s: "fruity" in s)
wine_reviews[['description','is_trop','is_frui']].head()

In [ ]:
wine_reviews[['is_trop']].sum()

In [ ]:
wine_reviews['description'].str.count('ropical').sum()
#wine_reviews['description'].str.count('fruity').sum()

In [ ]:
wine_reviews['points'].value_counts()

#### Exercise 19

We'd like to host these wine reviews on our website, but a rating system ranging from 80 to 100 points is too hard to understand - we'd like to translate them into simple star ratings. A score of 95 or higher counts as 3 stars, a score of at least 85 but less than 95 is 2 stars. Any other score is 1 star.

Also, the Canadian Vintners Association bought a lot of ads on the site, so any wines from Canada should automatically get 3 stars, regardless of points.

Create a series `star_ratings` with the number of stars corresponding to each review in the dataset.

### Groupwise analysis

The group operations follow the `split`-`apply`-`combine` approach:
![Split-apply-combine](https://unlhcc.github.io/r-novice-gapminder/fig/12-plyr-fig1.png)

Cf. this [tutorial](https://realpython.com/pandas-groupby/) 

The following example groups the observations by the number of point:

In [ ]:
wine_reviews['points'].value_counts()

In [ ]:
# Counts the number of wine by point received
wine_reviews.groupby('points')['points'].count() # Same as value_counts()

In [ ]:
wine_reviews.groupby('points')['price'].min()

In [ ]:
wine_reviews.groupby('winery').apply(lambda df: df['title'].iloc[0])

In [ ]:
# Groupby can be done on several columns
wine_reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df['points'].idxmax()])

Several operations can be applied at the same time, using the `agg` method:

In [ ]:
wine_reviews.groupby(['country'])['price'].agg([len, min, "median", max])

### Multi-indexes

In [ ]:
countries = wine_reviews.groupby(['country', 'province']).description.agg([len])
countries

In [ ]:
countries.reset_index()

### Sorting

In [ ]:
countries.sort_values(by='len')
countries.sort_values(by='len', ascending=False)
countries.sort_index()
countries.sort_values(by=['country', 'len'])

### Your Turn !

#### Exercise 20

Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

#### Exercise 21

What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).

#### Exercise 22

What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

#### Exercise 23

What are the most expensive wine varieties? Create a variable `sorted_varieties` containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

#### Exercise 24

Create a `Series` whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.

#### Exercise 25

What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count.

### Data types

In [ ]:
wine_reviews.price.dtype
wine_reviews.dtypes

In [ ]:
wine_reviews.points.astype('float64')

#### Missing data

Entries missing values are given the value **NaN**, short for "Not a Number". For technical reasons these NaN values are always of the float64 dtype.

In [ ]:
wine_reviews[pd.isnull(wine_reviews.country)]

In [ ]:
wine_reviews['price'].isna().shape

In [ ]:
wine_reviews['price'].notna().shape

In [ ]:
wine_reviews['region_2'].fillna("Unknown") # replace missing values by "Unknown"

In [ ]:
wine_reviews.taster_twitter_handle.replace("@kerinokeefe", "@kerino")

### Renaming

In [ ]:
#dictionary_rename ={'old name': "new name",'old name 2': "new name 2" }

In [ ]:
wine_reviews.rename(columns={'points': 'score'}, inplace = True)

In [ ]:
wine_reviews.rename_axis("wines", axis='rows').rename_axis("fields", axis='columns')

### Combining

In [ ]:
# Do not run these lines
# french_wines = pd.read_csv("your_directory.csv")
# british_wines = pd.read_csv("your_directory.csv")

# pd.concat([french_wines, british_wines])

In [ ]:
# Do not run these lines
# left = french_wines.set_index(['shared_index1', 'shared_index2'])
# right = british_wines.set_index(['shared_index1', 'shared_index2'])

# left.join(right, lsuffix='_FR', rsuffix='_UK')

### Your Turn !

#### Exercise 26

What is the data type of the `points` column in the dataset?

#### Exercise 27

Create a Series from entries in the `points` column, but convert the entries to strings. Hint: strings are `str` in native Python.

#### Exercise 28

Sometimes the price column is null. How many reviews in the dataset are missing a price?

#### Exercise 29

What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the `region_1` field. This field is often missing data, so replace missing values with `Unknown`. Sort in descending order.  Your output should look something like this:

```
Unknown                    21247
Napa Valley                 4480
                           ...  
Bardolino Superiore            1
Primitivo del Tarantino        1
Name: region_1, Length: 1230, dtype: int64
```

#### Exercise 30

In [ ]:
wine_reviews.head()

`region_1` and `region_2` are pretty uninformative names for locale columns in the dataset. Create a copy of `reviews` with these columns renamed to `region` and `locale`, respectively.

#### Exercise 31

Set the index name in the dataset to `wines`.